{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "3.16.2",
                "targets": {
                    "node": "14.17.5",
                    "esmodules": false
                }
            }
        ]
    ]
}