<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="Ingresa tu corroe">
    <input type="password" name="password" placeholder="Contraseña">

    <button type="submit">
        Signin
    </button>
</form>